* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.carros {
    display: flex;
    width: 100%;
    border: 3px solid #000;
    padding: 5px;
    border-radius: 5px;
}

.carro {
    border: 3px solid #008;
    background-color: #8cf;
    display: flex;
    padding: 5px;
    border-radius: 5px;
}
