* {padding: 0; margin: 0; border: none; }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.caixa {
    height: 500px;
    width: 300px;
    margin: 5px;
    padding: 10px;

    background-color: #eee;
    border: 4px solid #000;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.caixaFuncionalidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#caixaNovoCurso input{
    margin: 10px;
    padding: 5px;
}

button{
    margin: 10px;
    width: 150px;
    height: 40px;
    background-color: #025;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.curso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;

}

.c1 {
    background-color: #ccc;
    color: #444;
}

.selecionado {
    background-color: #800 !important;
    color: #ccc !important;
    border-color: #f00 !important;
}