* {
    padding: 0;
    margin: 0;
    border: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#caixa {
    border: 4px solid #000;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
}

.curso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
}

.btn-lixeira {
    width: 20px;
    cursor: pointer;
}


.c1 {
    background-color: #ccc;
    color: #444;
}

