* {
    padding: 0;
    margin: 0;
    border: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
}

button {
    width: 150px;
    margin: 5px;
    height: 40px;
    background-color: #025;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.curso {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.remover {
    background-color: #800 !important;
    color: #ccc !important;
    border-color: #f00 !important;
}
.selecionado {
    background-color: rgb(36, 0, 136) !important;
    color: #ccc !important;
    border-color: rgb(4, 0, 255) !important;
}


.c1 {
    background-color: #ccc;
    color: #444;
}

.c2 {
    background-color: #444;
    color: #ccc;
}

.caixa {
    border: 4px solid #000;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
}